<div class="top-background-color">
    <span>本はもっと循環していい</span>
</div>

<div class="top-description text-center">
  <p class="top-description-line">本が欲しい人とGiveしたい人を繋げたい。</p>

  <p>自分がGiveできる本を簡単に登録、欲しい人からオファーが届きます。</p>
  <p>届いたオファーの中からGiveしたい人を選んでその人とメッセージを。気になるところは相談して発送しましょう。</p>
  <p>本を無料で貰いたい人も是非ご利用ください。</p>
  <p>気になる本を見つけたらオファーを送ってみましょう。</p>
  <p>あなたの家に眠っている本を誰かにGiveしてみませんか?</p>
</div>



<div class="top-give-example">

  <div class="top-give-example-heading">
    <p class="text-center ">今、こんな本がGiveされています</p>
  </div>

  <div class="top-give-example-tile text-center">
    <!--    実際には繰り返し処理で書くことになると思うけどひとまずviewだけ-->
    <div class="top-give-example-tile-item"><%= image_tag "gold_feather" %></div>
    <div class="top-give-example-tile-item"><%= image_tag "gold_feather" %></div>
    <div class="top-give-example-tile-item"><%= image_tag "gold_feather" %></div>
    <div class="top-give-example-tile-item"><%= image_tag "gold_feather" %></div>
  </div>

  <p class="text-center">気になる本がありましたら<%= link_to "こちらのページ", book_search_results_path %>から検索してください。</p>

</div>


<% if !user_signed_in? %>

  <div class="sign_up-recommend text-center">
    <p>Giveするには、まずは新規登録から</p>
    <p><%= button_to "Sign up",
                     new_user_registration_path, :style => "color: white;",
                     method: :get, class: "top-submit-button" %></p>


    <div class="log_in-recommend text-center">
      <p>すでにアカウントをお持ちですか？</p>
      <p><%= button_to "Log in", new_user_session_path, :style => "color: white",
      method: :get, class: "top-submit-button"%></p>
    </div>
  </div>

<% end %>


<%= render 'layouts/sns_icon' %>


<%= render "layouts/exhibit_fix_button" %>