<div class="heading text-center">
  <span>Edit</span>
</div>

<div class="user_edit_form">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", :placeholder => "user name",
                       class: "form-control", id: "name"%>
      <small class="form-text form_help_text">６文字以下で入力してください</small>
    </div>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
                        id: "email", class: "form-control", :placeholder => "email" %>
    </div>

    <div class="form-group">
      <%= f.file_field :image, autofocus: true, autocomplete: "image",
                        id: "image", class: "form-control", :placeholder => "image" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "new-password" ,:placeholder => "password",
      id: "password", class: "form-control"%>
      <small class="form-text form_help_text">(６文字以上) パスワードの変更が不要な場合は空欄のままUpdateボタンを押してください</small>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "password_confirmation",
      :placeholder => "パスワードを再入力してください", class: "form-control"%>
    </div>



    <div class="text-right">
      <%= f.submit "Update", class: "submit-button" %>
    </div>
  <% end %>

</div>


