<div class="heading text-center">
  <span>Registered</span>
</div>

<div class="registered">

  <div class="registered-description text-center">
    <span><%= @user.name %>さんは以下の本を登録済みです。
      <br>
オファーが届き、その人にGiveしても良いと思ったら、<br>発送してください。<br>
      <br>
    Giveする相手を決めるとその相手とメッセージのやり取りが<br>可能になります。</span>
  </div>

    <div class="grid">
      <% @now_give_books.each do |book| %>
        <div class="book-cover text-center">
          <!--      画像のところはそのまま本の書影がくる-->
          <%= image_tag "zikken.png" %>
          <p class="search-book-title"><%= book.name %></p>
          <p><%= link_to "削除する",book_path(book.id),
                         method: :delete,data: { confirm: '本当に削除しますか？'}%></p>
        </div>
      <% end %>
    </div>

  <div class="text-center pagination">
    <%= paginate @now_give_books %>
  </div>

  <%= render "layouts/how_guide" %>

</div>


<%= render "layouts/exhibit_fix_button" %>