<div class="heading text-center">
  <span>My page</span>
</div>

<div class="my-page-info">

  <div class="profile-image">
    <% if @user.image? %>
      <%= image_tag current_user.image.to_s %>
    <% else %>
      <%= image_tag "no-image.png" %>
    <% end %>
  </div>
  <div class="user_name">
    <p><%= @user.name %></p>
  </div>

</div>

<div class="give_and_take_count">
  <div class="give-count">
    <p>Giveした数</p>
    <p class="text-center"><%= 12 %></p>
  </div>
  <div class="take-count">
    <p>Giveされた数</p>
    <p class="text-center"><%= 8 %></p>
  </div>
</div>

<div class="my-page-menu">
  <div class="box"><span class="align-middle"><%= "オファー受付中のあなたの本" %></span></div>
  <div class="box"><span class="align-middle"><%= link_to "アカウント情報の編集",  edit_user_registration_path,
                                                          style: "color: black;", class: "my-page-link" %></div></span>
  <div class="box"><span class="align-middle"><%= "Giveした履歴・Giveされた履歴" %></span></div>
  <div class="box"><span class="align-middle"><%= "届いているGiveオファー" %></span></div>
  <div class="box"><span class="align-middle"><%= "欲しい本をオファーする" %></span></div>
  <div class="box"><span class="align-middle"><%= "Giveする" %></span></div>

  <p class="text-center pt-5">詳しい流れや使い方は<%= link_to "使い方", how_to_use_path %>をご覧ください。</p>
</div>














