<div class="heading text-center">
  <span>My page</span>
</div>

<div class="my-page-info">

  <div class="profile-image">
    <% if @user.image? %>
      <%= image_tag current_user.image.to_s %>
    <% else %>
      <%= image_tag "no-image.png" %>
    <% end %>
  </div>
  <div class="user_name">
    <p><%= @user.name %></p>
  </div>

</div>

<div class="give_and_take_count">
  <div class="give-count">
    <p>Giveした数</p>
    <p class="text-center"><%= @user.give_count %></p>
  </div>
  <div class="take-count">
    <p>Giveされた数</p>
    <p class="text-center"><%= @user.take_count %></p>
  </div>
</div>

<div class="my-page-menu">
  <div class="box"><span class="align-middle"><%= link_to "オファー受付中のあなたの本", user_registered_path,
  class: "my-page-link"%></span></div>
  <div class="box"><span class="align-middle"><%= link_to "アカウント情報の編集",  edit_user_registration_path,
                                                           class: "my-page-link" %></span></div>
  <div class="box"><span class="align-middle"><%= link_to "Giveした履歴・Giveされた履歴", user_history_path,
  class: "my-page-link"%></span></div>
  <div class="box"><span class="align-middle"><%= link_to "届いているGiveオファー", user_offered_path,
  class: "my-page-link"%></span></div>
  <div class="box"><span class="align-middle"><%= link_to "Giveする", book_new_give_path,
                                                          class: "my-page-link" %></span></div>

  <%= render "layouts/how_guide" %>
</div>














