<div class="heading text-center">
  <span>Password reset</span>
</div>

<div class="password_reset_description">
  <span>パスワードを変更するにはご登録済みのメールアドレスを入力してください。</span>
  <p>パスワード再発行の案内を添付したメールを送信します。</p>

</div>
<div class="password_reset_form">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
                        :placeholder => "email", class: "form-control"%>
    </div>

    <div class="text-right">
      <%= f.submit "Submit", class: "submit-button" %>
    </div>
  <% end %>

</div>

<div class="password_reset_description">
    <span>メールが届かない場合は迷惑メールフォルダをご確認ください。
    それでも解決しない場合は<%= link_to "お問い合わせ", contact_path %>よりご連絡ください。</span>
</div>






