<div class="heading text-center">
  <span>Search</span>
</div>

<div class="search">

<div class="search-box text-center">
  <p>Giveされている本を検索する</p>
  <%= form_tag(book_search_results_path,:method => 'get') do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search', :name => nil %>
  <% end %>
</div>


  <div class="grid">
    <% @books.each do |book| %>
    <div class="book-cover text-center">
<!--      画像のところはそのまま本の書影がくる-->
      <%= image_tag "zikken.png" %>
      <p class="search-book-title"><%= book.name %></p>
      <p><%= book.giver.name %>さんがGiveしています</p>
    </div>
    <% end %>
  </div>

<!--  これは仮、本当はBootstrapで書く-->
  <div class="text-center pb-5">
    <%= image_tag "pagination.png" %>
  </div>

</div>







<%= render "layouts/exhibit_fix_button" %>