<div class="heading text-center">
  <span>Request</span>
</div>

<div class="request-title text-center">
  <span>「<%= "本タイトル" %>」のGiveオファーを「<%= "〇〇" %>」さんに送信します。
  よろしければ画面下の「申し込む」ボタンを押してください。</span>

  <div class="request-title-border"></div>

  <div class="request-title-book-cover">
    <%= image_tag "zikken.png" %>
  </div>

  <div class="request-title-giver-icon">
<!--    giveしてくれるかもしれない人の写真が入ります。
他のユーザーが見るわけだから、ちゃんと表示する項目は変えるようにしないと！！-->
    <%= link_to "#" do %>
    <%= image_tag "hatahideki.jpg" %>
      <% end %>
    <p><%= link_to "はたひでさん" %></p>
  </div>

</div>

<div class="send-offer-submit-button text-center">
  <%= link_to "#" do %>
    <%= image_tag "apply.png" %>
  <% end %>
</div>