<footer class="footer-set">
  <div class="copy-right">
    <small>Copyright (c) tatsupon All Rights Reserved.</small>
  </div>
  <div class="footer-icon">
    <%= image_tag "book_give_logo.png", width: "70px", height: "70px" %>
  </div>
  <div class="footer-sns-icon">
    <ul>
      <li class="insta"><%= image_tag "instagram.black.png",width: "40px", height: "40px" %></li>
      <li class="twitter"><%= image_tag "twitter.black.png",width: "40px", height: "40px" %></li>
      <li class="facebook"><%= image_tag "facebook.black.png",width: "40px", height: "40px" %></li>
    </ul>
  </div>
  <div>
    <ul>
      <li class="contact"><%= link_to "お問い合わせ", contact_path, class: "text text-dark" %></li>
      <li class="privacy"><%= link_to "プライバシーポリシー", privacy_path, class: "text text-dark" %></li>
    </ul>
  </div>
</footer>