<header>

  <div class="container-fluid pt-3 pb-3">
    <nav class="navbar navbar-expand-lg img-responsive">
      <%= link_to root_path do %>
        <%= image_tag "blue_logo.png",width: "150px" %>
      <% end %>

      <div class="header-user-image">
        <% if user_signed_in? %>
          <% if current_user.image? %>
            <%= link_to current_user do %>
              <%= image_tag current_user.image.url %>
            <% end %>
          <% else %>
            <%= link_to current_user do %>
              <%= image_tag "no-image.png" %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#切り替え表示されるコンテンツ名" aria-controls="切り替え表示されるコンテンツ名" aria-expanded="false" aria-label="ナビゲーション切替">
        <%= image_tag "hamburger_icon.png", width: "90px", height: "90px" %>
      </button>
      <div class="collapse navbar-collapse text-right" id="切り替え表示されるコンテンツ名">
        <ul class="mr-auto"></ul>

        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Top", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "マイページ", current_user , class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to " 本を探す", "#", class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "使い方", how_to_use_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "ログアウト",  destroy_user_session_path, method: :delete, class: "nav-link", id: "log_out" %>
            </li>
          <% else %>
          <li class="nav-item active">
            <%= link_to "Top", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Log in",  new_user_session_path, class: "nav-link", id: "log_in" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to " 本を探す", "#", class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "使い方", how_to_use_path, class: "nav-link" %>
          </li>
          <% end %>
        </ul>

      </div>
    </nav>
  </div>


</header>